body {
    background-color:cornflowerblue;
}
#title {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
hr {
    color:whitesmoke;
}
p {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2em;
    text-indent:1.8em;
}
img.jcImgTextDiv {
    max-width:50%;
    max-height:50%;
    margin: 5.35em 5.35em 1em;
}
div.jcImgTextDiv {
    width:19%;
    height:23%;
    margin:3em;
    float: left;
}
p.jcImgTextDiv {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.255em;
    margin: 2em 0 5em 1.2em;
}
a:link {
    color:white;
}
a:visited {
    color:white;
}
a:click {
    color:white;
}
a:hover {
    color:white;
}

a:active {
    color:white;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}